* {
  font-family: 'Ubuntu Mono', monospace;
}

body {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  margin: auto;
}

.row {
  padding-top: 6vh;
}

.shadow {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, .35);
}

.input-group.shadow,
#mensagem {
  height: 8vh;
}

.row.mensagem{
    margin: 0px;
    padding-top:5px;
}

.canais-nav {
  font-weight: bold;
}

.canais-nav li {
  width: 100px;
  padding-right: 3px;
  text-align: center;
}

.canais-nav a {
  color: #697060;
  background-color: #D1E7F9;
  cursor: pointer;
  height: 50px;
}

.frame-scroll {
  margin-bottom: 0px;
  padding: 15px 15px 0px 15px;
  overflow-y: scroll;
  height: 72.5vh;
  background-color: white;
  position: relative;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.05em;
}

.btn.btn-warning {
  border-radius: 0 !important;
}

.frame {
  padding-right: 0px;
  padding-left: 0px;
}

.shadow.frame-scroll,
.shadow.painel.painel-names {
  margin-bottom: 0px;
}

.col-sm-8.frame {
  margin-top: 7.5px;
}

.anuncio {
  background-color: #dedede;
  border-radius: 50px;
}

.erro {
  border-radius: 50px;
}

.motd {
  white-space: pre-wrap;
}

.autor {
  color: orange;
  word-wrap: break-word;
}

.conexao {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  z-index: 10;
  font-weight: normal;
}

/* Painel Lateral */
.frame-painel {
  padding: 0px;
  background-color: white;
  width: 15vw;
}

.faixa-painel {
  background: #26ADE4;
  color: white;
  height: 50px;
}

.faixa-painel p {
  font-size: 18px;
  text-align: left;
  padding-left: 15px;
}

#titulo-painel {
  color: #efefef;
  font-weight: bold;
  line-height: 55px;
  margin-bottom: 0px;
}

.painel {
  padding: 15px;
  overflow-y: scroll;
  height: 72.6vh;
  background-color: white;
  font-weight: bold;
  color: #555;
}

.painel p {
  cursor: pointer;
  word-wrap: break-word;
}

.mode-menu .glyphicon {
  cursor: pointer;
  margin-left: 15px;
}

.input-group {
  height: 7vh;
}

.input-group,
.btn.btn-warning {
  height: 100%;
}

.btn-group.btn-group-justified {
  height: 8vh;
}

.mode-buttom,
#sair {
  height: 100%;
  border-radius: 0 !important;
}

.btn.btn-warning.enviar{
  height:8vh;
}

/* Scrollbar */
.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.frame-scroll::-webkit-scrollbar {
  width: 8px;
}
.frame-scroll::-webkit-scrollbar-track {
  background-color: #eaeaea;
}
.frame-scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
.frame-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
